/*
CSS Styles: Html - CSS resource
Author: jessica
Color Palette:
   
      grey-tan: #9B9A94
      soft-pink: #E0CBC4
      pink-beige: #EBE4DE
      black: #131310

Table of Contents
###########################################################
1.0 -Reset   
2.0 -Fonts
3.0 -Global Styles
4.0 -Header
    4.1 -img
    4.2 -nav
5.0 -Body
    5.1 -a 
    5.2 -img 
    5.3 -h1
    5.4 -h2
    5.5 -h3
    5.6 -p 
    5.7 -section
    5.8 -form


6.0 -Footer
7.0 -Media Queries



*/




/*#################################################### -Fonts ####################################################*/


body {
  font-family: 'Khula', sans-serif;
  font-weight: 400;
  margin: 0;
  background-color: #EBE4DE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/*#################################################### -Global Styles ####################################################*/


 a {		
	text-decoration: none;
 }

a:hover {
  border-bottom: 2px solid black;
}

 ul li {
    display: inline;
	 padding: 8px;
  }

  /*      -Hero image    */

.hero-images {
  text-align: center;

  background-image: url("../images/elephants.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-size: cover;
  position: relative;
}

.overlay {
  position: absolute;
  background: rgb(252, 250, 250);
  background: rgba(250, 248, 248, 0.678); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
}

/*#################################################### -Header ####################################################*/
header{
  background-color: 	burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-container {
  display: flex;
  font-size: 30px;
}

.nav-container div {
  margin-left: 20px;
}





main{
 
}

.me {
  z-index: 99;

  bottom: 20%;
}



   ol{
        list-style-image: url('../img/heart.png')  /*--- step out of css folder and into img folder ../img/filename.png    */
    } 

/*#################### -Form #########################*/

form{
	max-width: 900px;
	font-size: 16px;
	background: rgb(178, 171, 189);
	padding: 10px 30px 15px 30px;
	border: 5px solid rgb(109, 62, 43);
}

fieldset {
	display: flex;
	text-align: left;
}

input{
  width: 80%;
  padding: 10px;	
  margin: 5px;	
}

input[type=text]:focus {
  background-color: lightblue;
}

    
/*#################################################### -Footer ####################################################*/




p.copyright {
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
}


footer{
  padding: 10px;
	background-color: burlywood;
  color: #EBE4DE;
  text-align: center;
}

footer ul{
  

}
.centerimage{
   margin-left: auto;
   margin-right: auto;
  width: 75%;
  display: block;
 
}



/*#################################################### -Media Queries #################################################*/
      
      

      /*----to use font awesome fonts for styling

      ul {
        list-style: none;
        padding: 0;
      }
      li {
        padding-left: 1.3em;
      }
      li:before {
        content: "\f00c";                FontAwesome Unicode 
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;             same as padding-left set on li
        width: 1.3em;                    same as padding-left set on li 
      }

      ------*/

      /* styling for my blog page */
      .main-container {
        width: 100%;
        height: 100vh;
        color: white;
      }