

body {
 
  font-weight: 400;
  background-color: #EBE4DE;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Bad Script', cursive;
  font-weight: 200;
}

.button {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
/*#################################################### -Global Styles ####################################################*/


 a {		
	text-decoration: none;
 }

a:hover {
  border-bottom: 2px solid black;
}

 ul li {
    display: inline;
	 padding: 8px;
  }

  /*      -Hero image    */

.hero-images {
 

  background-image: url("../images/elephants.jpg");

  /* Set a specific height */
  height: 30em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-size: cover;
  position: relative;
  background-color: rgba(250, 248, 248, 0.678); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
}

.hero-images img{

  align-self: center;
}

.overlay {
  position: absolute;
  background: rgb(252, 250, 250);
  background: rgba(250, 248, 248, 0.678); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
}

/*#################################################### -Header ####################################################*/
header{
  background-color: burlywood;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'EB Garamond', serif;
 
}

.nav-container {
  display: flex;
  font-size: 25px;
  
}
  
            
            


.nav-container div {
  margin-left: 20px;
}


.me {
  z-index: 1;
  text-align: center;
margin-top: 250px;
  font-size: 20px;
  color: #000;
}

.name {
  text-align: right;
  padding: 4rem;
  font-size: 20px;




}

.me img{
  border-radius: 50%;
}


   ol{
        list-style-image: url('../img/heart.png')  /*--- step out of css folder and into img folder ../img/filename.png    */
    } 

/*#################### -Form #########################*/

form{
	max-width: 900px;
	font-size: 16px;
	background: rgb(178, 171, 189);
	padding: 10px 30px 15px 30px;
	border: 5px solid rgb(109, 62, 43);
}

fieldset {
	display: flex;
	text-align: left;
}

input{
  width: 80%;
  padding: 10px;	
  margin: 5px;	
}

input[type=text]:focus {
  background-color: black;
  
}

    
/*#################################################### -Footer ####################################################*/


#section{
  padding-top: 2%;
  padding-left: 2;
}

p.copyright {
  color: #fff;
  line-height: 40px;
  font-size: 0.7em;
}

#footer{
 width: 100%;
	background-color: burlywood;
  color: #000;
  height: 150px;
   text-align: left;
   margin-top: 20%;

}

.social{
  padding: 1%;
}

.copy{
  text-align: center;

}
.centerimage{
   margin-left: auto;
   margin-right: auto;
  width: 75%;
  display: block;
 
}
/*about me page*/

.word{
  background-color: lightyellow;
}


/* blog*/

.main-container{
  font-size: 50px;
  font-family: 'Wallpoet', cursive;

/*about me*/

.main-container{
  font-family: 'Bad Script', cursive;


}
}

.rounded{}
